<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: aquamarine;
        align-items: center;
        justify-content: center;
      }
      .login-container {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: aqua;
      }
      button {
        width: 100%;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      /* Hover effect */
      button:hover {
        background-color: aquamarine;
      }

      /* Focus effect */
      button:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
      }
    </style>
  </head>
  <body>
    <div class="login-container">
      <!-- student-dashboard.ejs -->
      <h1>Welcome, <%= student.name %></h1>
      <p>Roll Number: <%= student.rollno %></p>
      <p>Date of Birth: <%= student.dob %></p>
      <p>Score: <%= student.score %></p>
      <a href="/studentlogout"><button>Logout</button></a>
    </div>
  </body>
</html>
